# Vercel: Settings → Environment Variables → Import .env (tick Production + Preview + Development)

FIREBASE_API_KEY=your_api_key
FIREBASE_AUTH_DOMAIN=walkietalkie-mos.firebaseapp.com
FIREBASE_PROJECT_ID=walkietalkie-mos
FIREBASE_STORAGE_BUCKET=walkietalkie-mos.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=905289525416
FIREBASE_APP_ID=your_app_id
FIREBASE_MEASUREMENT_ID=G-H97RRNDT3E